*{
    user-select: none;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}
a{
    text-decoration: none;
    color: white;
}
header{
    display:flex;
    justify-content:center; 
    align-content: center;
}
body{
  background: #0D0C0C;
}
h1{
    font-family: 'Poppins-Bold';
    color: #AC7ACB;
    font-size: 36px;
    margin: 60px;
}
.clock{
    width: 240px;
    height: 238px;
    border-radius: 50%;
    margin: 0 auto;
    border: 6px solid #c4c4c4;
}
.values{
    font-size: 35px;
    font-family: 'Poppins-Light';
    color: white;
    text-align: center;
    transition: .75s;
}
.values:hover{
    cursor: pointer;
    font-size: 40px;
    font-family: 'Poppins';
}
.countdown{
    margin-top: 80px;
}
.text-inside{
    font-family: 'Poppins-Bold';
    display: flex;
    margin:0 auto;
    font-weight: 700;
    color: #FFFFFF;  
    font-size: 14px;
    width: 43px;
    border-bottom: 1px solid #AC7ACB;
}
footer{
    display:flex;
    justify-content:center; 
    align-content: center;
}
#button{
    margin-top: 35px;
    padding: 5px 40px;
    background: #5C1985;
    border-radius: 13px;
    border: none;
    font-family: 'Poppins-Bold';
    color: white;
    cursor:pointer;
    transition: 0.3s;
}
#button:hover{
    background: whitesmoke;
    color:#4f1372;
}
img{
    max-height:30px;
    width: 30px; 
    align-self:flex-end;
    padding-left:95%;
    padding-top: 3%;
}

